<div class="form_menu">

    <h3>Menu de Opções</h3>

    <ul class='nav'>

        <li class="nav-item">  
            <a class="btn btn-success" href="/admReceitas">Receitas</a>  
        </li>

        <li class="nav-item">  
            <a class="btn btn-danger" href="/admDespesas">Despesas</a>  
        </li>

        <li class="nav-item">  
            <a class="btn btn-primary" href="/Graphic">Gráfico</a>  
        </li>
    </ul>
</div>